.app-header {
  background-color: rgba(220, 220, 220, 0.8);
  color: #000;
  padding-block: 1em;
  font-family: 'Montserrat Alternates', sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5em;
}

.header-container h1 {
  font-size: 1.5em;
}

.app-nav {
  display: flex;
  gap: 15px;
  font-size: 1.1em;
}

a.active {
  color: rgba(200, 162, 200, 0.8);
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.8s ease;
}
.app-nav a {
  color: #000;
  text-decoration: none;
}

.app-nav a:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width: 720px) {
  .app-header {
    color: var(--clr2bg-light);
  }
}
