:root {
  --clr1: rgba(148, 148, 148, 0.8);
  --clr2: rgba(100, 120, 160, 0.7);

  --clr1bg: rgba(100, 120, 160, 0.7);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgba(180, 140, 150, 0.7);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgba(230, 230, 230, 0.8);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);
}
